In [3]:
a=2,6,7,3

In [4]:
print(a)

(2, 6, 7, 3)

### Array

In [ ]:
a=[1,2,3,4,5,6,7]

## Python Data Structure
- List
- Tuple
- Dictionary
- Set

## List

#### Array

In [5]:
fruits = ["Banana", "Kiwi", "Apple", "Grapes"]

In [6]:
print(fruits)

['Banana', 'Kiwi', 'Apple', 'Grapes']

#### List

In [7]:
a = ["Hello", 12,64.5,True,"34",False]
print(a)

['Hello', 12, 64.5, True, '34', False]

In [8]:
type(a)

list

#### In Python their is no seperate array data structure, we use List as Array

In [9]:
print(type(a))

<class 'list'>

### Calling via Index

In [12]:
print(a[0])

Hello

In [14]:
print(a.index(False))

5

### Can be passed within a loop

In [15]:
for i in a:
    print(i)

Hello
12
64.5
True
34
False

#### Adding a new element in List - append()

In [16]:
a

['Hello', 12, 64.5, True, '34', False]

In [17]:
a.append("Alex")

In [18]:
print(a)

['Hello', 12, 64.5, True, '34', False, 'Alex']

#### Delete an Element

In [19]:
del a[1]

In [20]:
print(a)

['Hello', 64.5, True, '34', False, 'Alex']

In [24]:
a.append("TOM")
print(a)
a.remove("TOM")
print(a)

['Hello', 64.5, True, '34', False, 'Alex', 'TOM']
['Hello', 64.5, True, '34', False, 'Alex']

In [25]:
print(a)

['Hello', 64.5, True, '34', False, 'Alex']

#### Replace an element in existing position

In [26]:
a[3] = "TOM"
print(a)

['Hello', 64.5, True, 'TOM', False, 'Alex']

### Task

A list is given,

s=["rainbow", "butterfly", "sunshine","cupcake"] 

Write a program that will find if a given word is present in this existing list, 
- If the word is present them print "Congratulations"
- IF it is not their, then print "Sorry Try Again"

In [28]:
s=["rainbow", "butterfly", "sunshine","cupcake"]
for i in s:
    print(i)

rainbow
butterfly
sunshine
cupcake

In [93]:
s=["rainbow", "butterfly", "sunshine","cupcake"]
d=input("Enter the codeword: ")
for i in s: 
    if d==i:
        print("Congratulations")
        break
    else:
        print("Sorry Try Again")

Enter the codeword: cupcake
Sorry Try Again
Sorry Try Again
Sorry Try Again
Congratulations

## Tuples

In [34]:
s = ("hi",2,5.7,False,"Amy")

In [35]:
print(s)

('hi', 2, 5.7, False, 'Amy')

In [36]:
print(type(s))

<class 'tuple'>

In [37]:
print(s[2])

5.7

In [38]:
for i in s:
    print (i)

hi
2
5.7
False
Amy

#### Difference from a LIST

In [39]:
s[2]="Martha"

TypeError: 'tuple' object does not support item assignment

In [40]:
s.append("jose")

AttributeError: 'tuple' object has no attribute 'append'

In [41]:
del s[2]

TypeError: 'tuple' object doesn't support item deletion

#### Tuple is immutable, once a tuple created, it can not be changes in a tuple form

### But what if it is very urgent

In [42]:
print(s)
w=list(s)
print(w)
w.append("jose")
q=tuple(w)
print(q)

('hi', 2, 5.7, False, 'Amy')
['hi', 2, 5.7, False, 'Amy']
('hi', 2, 5.7, False, 'Amy', 'jose')

## Dictionary

In [43]:
D = {"Name" : 'Wan Scott', "Job": 'Data Scientist', "Expertise": 'Machine Learning'}

print(D)

{'Name': 'Wan Scott', 'Job': 'Data Scientist', 'Expertise': 'Machine Learning'}

In [44]:
print(type(D))

<class 'dict'>

In [45]:
for i in D: #i = 
    print(i)

Name
Job
Expertise

In [46]:
for i in D:
    print(D[i])

Wan Scott
Data Scientist
Machine Learning

#### Dictionaries has no Index, It has Keys and Values

In [47]:
print(D.keys())

dict_keys(['Name', 'Job', 'Expertise'])

In [48]:
print(D.values())

dict_values(['Wan Scott', 'Data Scientist', 'Machine Learning'])

In [49]:
D

{'Name': 'Wan Scott', 'Job': 'Data Scientist', 'Expertise': 'Machine Learning'}

In [50]:
D['Name'] = "Martha"
print(D)

{'Name': 'Martha', 'Job': 'Data Scientist', 'Expertise': 'Machine Learning'}

In [51]:
A=D.pop("Job")

In [52]:
print(D)

{'Name': 'Martha', 'Expertise': 'Machine Learning'}

In [53]:
print(A)

Data Scientist

## Task 
- l1=["Name", "Job", "Expertise"]
- l2=["Alex", "Data Scientist", "Deep Learning"]

Create a dictionary by combining both the list

In [59]:
l1=["Name", "Job", "Expertise"]
l2=["Alex", "Data Scientist", "Deep Learning"]

In [60]:
resedvd = {}
for key in l1: #Key = Name
    for value in l2: #value = "Alex"
        resedvd[key] = value #res[Name] = Alex
        l2.remove(value)
        break

In [61]:
resedvd

{'Name': 'Alex', 'Job': 'Data Scientist', 'Expertise': 'Deep Learning'}

## Set

In [71]:
A = {"circle", "heart", "rectangle","cloud","star"}

In [72]:
print(A)

{'star', 'circle', 'heart', 'rectangle', 'cloud'}

In [73]:
type(A)

set

#### Set has no Index

In [74]:
A[2]

TypeError: 'set' object is not subscriptable

In [75]:
for i in A:
    print(i)

star
circle
heart
rectangle
cloud

In [76]:
A.add("Moon")
print(A)

{'star', 'circle', 'Moon', 'heart', 'rectangle', 'cloud'}

In [77]:
A.update(["Sun","Space"])
print(A)

{'star', 'circle', 'Moon', 'heart', 'Space', 'rectangle', 'cloud', 'Sun'}

#### Set does not aloow dublicate Values

In [78]:
A.add("Moon")
print(A)

{'star', 'circle', 'Moon', 'heart', 'Space', 'rectangle', 'cloud', 'Sun'}

In [80]:
B = {"circle", "heart", "bolt","moon","triangle","smiley"}
B

{'bolt', 'circle', 'heart', 'moon', 'smiley', 'triangle'}

### Set Operations

In [81]:
A

{'Moon', 'Space', 'Sun', 'circle', 'cloud', 'heart', 'rectangle', 'star'}

In [82]:
B

{'bolt', 'circle', 'heart', 'moon', 'smiley', 'triangle'}

#### Union

In [83]:
print(A|B)

{'star', 'circle', 'moon', 'smiley', 'Moon', 'heart', 'Space', 'rectangle', 'bolt', 'triangle', 'cloud', 'Sun'}

#### Intersection

In [84]:
print(A&B)

{'circle', 'heart'}

#### Difference

In [85]:
print(A-B)

{'star', 'Moon', 'Space', 'rectangle', 'cloud', 'Sun'}

In [86]:
print(B-A)

{'triangle', 'smiley', 'moon', 'bolt'}

## Task

Write a program detailing the skill set for a data scientist and data analyst.

- Data scientist - Python, R, SQL, Scala, Java, Hive, Spark
- Data analyst -  Python, SQL, BI, Excel, Power_BI, R, Java


- Display the common skills between the two roles
- Display the skills unique to each role

Add the following skills to each of the set:
- Data scientist - Machine Learning, Hadoop
- Data analyst - Statistics, NoSQL

In [87]:
datascientist = {"Python", "R", "SQL", "Scala", "Java", "Hive","Spark"}
datanalyst = {"Python", "SQL", "BI", "Excel", "Power_BI", "R","Java"}
print("Data Scientist Skills: ",datascientist)
print("Data Analyst Skills: ",datanalyst)

Data Scientist Skills:  {'Spark', 'SQL', 'Hive', 'Python', 'R', 'Scala', 'Java'}
Data Analyst Skills:  {'SQL', 'Python', 'BI', 'R', 'Power_BI', 'Excel', 'Java'}

In [88]:
print("Common skills: ",datascientist & datanalyst)

Common skills:  {'Python', 'R', 'SQL', 'Java'}

In [89]:
print("Unique Data Scientist Skills: ",datascientist-datanalyst)
print("Unique Data Analyst Skills: ",datanalyst-datascientist)

Unique Data Scientist Skills:  {'Spark', 'Scala', 'Hive'}
Unique Data Analyst Skills:  {'BI', 'Power_BI', 'Excel'}

In [90]:
datascientist.update(["Machine Learning", "Hadoop"])
datanalyst.update(["Statistics", "NoSQL"])

In [91]:
print("Updated Data Scientist: ",datascientist)
print("Updated Data Analyst: ",datanalyst)

Updated Data Scientist:  {'Spark', 'SQL', 'Hive', 'Python', 'Hadoop', 'R', 'Machine Learning', 'Scala', 'Java'}
Updated Data Analyst:  {'SQL', 'Python', 'BI', 'Statistics', 'NoSQL', 'R', 'Power_BI', 'Excel', 'Java'}

# Functions 

- Built-in Function
- User Defined Function 
- Anonymous Function

## Built-in Function

#### Abs() - Absolute Function

In [94]:
n=-79
print(abs(n))

79

#### All() - Returns True if all items in an iterable object are true

In [97]:
mylist = [True, True, False] # 0= False 1= True
all(mylist)

False

#### Any() -  Returns True if any item in an iterable object is true

In [101]:
mylist = [True, False, False]
any(mylist)

True

#### Bool() – Returns the boolean value of the specified object

In [108]:
bool(-1)

True

#### Callable() – Returns True if the specified object is callable, otherwise False

In [109]:
def x():
    print(576)

print(callable(x))

True

In [110]:
num = 5
print(callable(num))

False

#### Enumerate() – Adds a counter to an iterable and returns it in a form of enumerate object. This enumerate object can then be used directly in for loops or be convert

In [111]:
x = ('apple', 'banana', 'cherry')
enumerate(x)

In [113]:

x = ('apple', 'banana', 'cherry')
enumerate(x)

l1 = ["eat","sleep","repeat"] 
s1 = "geek"
  

obj1 = enumerate(l1) 
obj2 = enumerate(s1) 
  
print ("Return type:",type(obj1))
print (list(enumerate(l1)))
  

print(list(enumerate(s1,2)))

Return type: <class 'enumerate'>
[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]
[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

In [116]:
my_list = ['apple', 'pears','orange','fruits']

count = 0
for x in my_list:
    print(count,x)
    count+=1

0 apple
1 pears
2 orange
3 fruits

In [117]:
for x, elements in enumerate(my_list):
    print(x,elements)

0 apple
1 pears
2 orange
3 fruits

In [118]:
l1 = ["eat","sleep","repeat"] 
  

for ele in enumerate(l1): 
    print (ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')

In [119]:
for count,ele in enumerate(l1,100): 
    print (count,ele)

100 eat
101 sleep
102 repeat

#### Eval() – Evaluates and executes an expression

In [120]:
x = 'print(55)'
eval(x)

55

#### Exec() – Executes the specified code (or object)

In [121]:
x = 'name = "John"\nprint(name)'
exec(x)

John

#### Help() – Executes the built-in help system

In [122]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables) --> A zip object yielding tuples until an input is exhausted.
 |
 |     >>> list(zip('abcdefg', range(3), range(4)))
 |     [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
 |
 |  The zip object yields n-length tuples, where n is the number of iterables
 |  passed as positional arguments to zip().  The i-th element in every tuple
 |  comes from the i-th iterable argument to zip().  This continues until the
 |  shortest argument is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

#### Max() – Returns the largest item in an iterable

In [123]:
max(5, 10,15)

15

#### Min() – Returns the smallest item in an iterable

In [124]:
min(5, 10,15)

5

#### Round() – Rounds a numbers

In [125]:
x = round(5.76543456476945684, 3)
print(x)

5.765

#### Sorted() – Returns a sorted list

In [126]:
a = ["b", "g", "a", "d", "f", "c", "h", "e"]
x = sorted(a)
print(x)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

#### sum() – Sums the items of an iterator

In [127]:
a = (1, 2, 3, 4, 5)
sum(a)

15

#### Type() – Returns the type of an object

In [128]:
a = ('apple', 'banana', 'cherry')
b = "Hello World"
c = 33
d= True

x = type(a)
y = type(b)
z = type(c)
zz = type(d)

print(x)
print(y)
print(z)
print(zz)

<class 'tuple'>
<class 'str'>
<class 'int'>
<class 'bool'>

#### Zip() -  Returns an iterator, from two or more iterator

In [130]:
list1 = ['Alpha', 'Beta', 'Gamma', 'Sigma']
list2 = ['one', 'two', 'three']

test = zip(list1, list2)  

print('\nPrinting the values of zip')
for values in test:
    print(values)

Printing the values of zip
('Alpha', 'one')
('Beta', 'two')
('Gamma', 'three')

### Python Modules

- Regular Expression  
- Random
- Date Tie formatting

#### Regular Expression

In [131]:
import re
txt = "HelloWorld"
x = re.search("World", txt)
print(x)

<re.Match object; span=(5, 10), match='World'>

In [132]:
if x:
    print("Match found")
else:
    print("Match not found")

Match found

### Task - 

Write a program that takes the user’s name as the input

- If there are no vowels in the name, display a message - “You have a unique with no vowels!!”
- If vowels are present in the name, display a message -”You have a lovely name!”

In [ ]:
import re
print("***** Task 2: *****")
u=input('Enter your name')
if re.search("[aeiou]",u):
    print('You have a great name')
else:
    print('You have a cool NAME')

### Random

- random.randint()
- random.choice()

In [136]:
import random
random.randint(1,100)

24

In [137]:
for i in range (10):
    print(random.randint(1,100))

51
88
40
94
100
18
18
12
13
96

#### List

In [140]:
r = ["Apple","Banana","Kiwi","Grapes","Mango", "Orange"]
print(random.choice(r))

Mango

#### Tuple

In [141]:
r = ("Apple","Banana","Kiwi","Grapes","Mango", "Orange")
print(random.choice(r))

Mango

#### String

In [143]:
y = "Apple"
print(random.choice(y))

l

#### Dictionary

In [144]:
r = {"Apple":"44","Banana":"56","Kiwi":"66","Grapes":"56","Mango":"34", "Orange":"23"}
print(random.choice(r))

KeyError: 5

#### Set

In [145]:
r = {"Apple","Banana","Kiwi","Grapes","Mango", "Orange"}
print(random.choice(r))

TypeError: 'set' object is not subscriptable

### Task

Guess the Number 
- Generate random number 
- Try to Match it with your user input 
- If their is a match, print You guessed the right number 
- Else print better luck net time and print the random number

In [148]:
import random
num=int(input("Guess a number between 0 and 10: "))
number = random.randrange(0, 11)
if num== number:
    print("You guessed the right number")
else:
    print("Sorry! Better luck next time", number)

Guess a number between 0 and 10: 9
Sorry! Better luck next time 1

### Date Time

In [162]:
import datetime
x = datetime.datetime.now()
print("The current date is: ", datetime.datetime.now())

The current date is:  2022-04-30 10:04:45.894353

In [163]:
print("The date today is: ",x.day)

The date today is:  30

In [164]:
print("The current month is: ", x.month)

The current month is:  4

In [165]:
print("The current year is: ", x.year)

The current year is:  2022

In [166]:
print("The current hour is: ", x.hour)

The current hour is:  10

In [167]:
print("The current minutes is: ", x.minute)

The current minutes is:  4

In [168]:
print("The current second is: ", x.second)

The current second is:  45

# User Defined Function

In [169]:
def myfunc():
    print("Hello World")

In [170]:
myfunc()

Hello World

#### Passing Arguments

In [173]:
def func(a):
    print("Hello",a)

func("John")

Hello John

#### Return statement

In [175]:
def func(a):
    return ("Hello "+a)

q=func("John")
print(q)

Hello John

### Task 

Add two numbers by using user defined function

In [176]:
a = int(input("Enter The 1st Number : "))
b = int(input("Enter The 2nd Number : "))

def addd(a,b):
    return a+b

print("The Sum : ",addd(a,b))

Enter The 1st Number : 6
Enter The 2nd Number : 3
The Sum :  9

### Defaulters

In [ ]:
def func(x=1):
    y0 = x+ 1
    y1 = x * 3
    y2 = y0 ** 3
    print("Value of y0 is: ", y0)
    print("Value of y1 is: ", y1)
    print("Value of y2 is: ", y2)

In [ ]:
print("Values without arguments")
func()

In [ ]:
print("Values with arguments")
func(3)

### Task

Calculate Factorial of a number that is given by the user

In [ ]:
def factorial(num=1):
    prod=1
    for i in range(num):
        prod=prod*(i+1)
    print(prod)

    
num=int(input("Enter a number: "))
factorial(num)

#### Word count

In [ ]:
def wordcount(txt):
    upcnt=0
    lowcnt=0
    digcnt=0
    for k in txt:
        if k.isdigit():
            digcnt=digcnt+1
        elif k.isupper():
            upcnt=upcnt+1
        elif k.islower():
            lowcnt=lowcnt+1
        else:
            pass
    print("Upper Case: ",upcnt,"\nLower Case: ",lowcnt,"\nDigits: ",digcnt)

vtxt=input("Enter a sentence: ")
wordcount(vtxt)

# Anonymous Function

#### Lambda Function

In [ ]:
num = lambda b: b + 10
print(num(5))

In [ ]:
num = int(input("Enter a number: "))
sqr = lambda b: b **2
cub = lambda b: b **3
print("Square of the number is: ",sqr(num))
print("Cube of the number is :",cub(num))

### Task

Make a calculator by using Lambda Function 
- Addition
- Multiplication
- Substraction
- Division

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

tot=lambda x,y:x+y
prod=lambda x,y:x*y
div=lambda x,y:x/y
subt=lambda x,y:x-y

print("The sum of the numbers is: ",tot(num1,num2))
print("The product of the numbers is: ",prod(num1,num2))
print("The difference in the numbers is: ",subt(num1,num2))
print("The quotient you get on dividing the numbers is: ",div(num1,num2))

### One Line if Statement

In [ ]:
num1=int(input("Enter a number: ")) #5

In [ ]:
if(num1 > 0):
      print("Its a positive number")
else:
      print("It is a negative number")

In [ ]:
print("Its a positive number") if(num1 > 0) else print("It is a negative number")

### Using one line if using Lambda Function

In [ ]:
lambdatest = lambda x: x*2 if x < 3 else x
num = 72
print(lambdatest(num))

### Task

In [ ]:
multest = lambda x: x*5 if x%3==0 else x*3
num =int(input("Enter a number: "))
print(multest(num))

## For loop

In [ ]:
a=[]
for i in range(10):
    a.append(i**2)
print(a)

In [ ]:
[i**2 for i in range(10)]

### Filter()

In [ ]:
seq = [0, 1, 2, 3, 5, 8, 13]

#### result contains odd numbers of the list

In [ ]:
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))

#### result contains even numbers of the list

In [ ]:
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

### map()

In [ ]:
bases=[10,15,20,25]
index=[2,3,4,5]
powers=list(map(lambda x,y:x**y,bases,index))
print(powers)