In [3]:
#WAP to demonstrate string insertion into print statement using .format() with 3 print statements. 

#(i) Printing strings normally using .format() 
 
print("My name is {}".format('Thisara Kaushan'))

My name is Thisara Kaushan

In [12]:
#(ii) Printing strings by their index position

fname='Thisara'
lname='Kaushan'
age=23

print("My first name is {2},last name is {0} and I'm {1} years old".format(lname,age,fname))

print("\nApples are {0},and roses are also {0}.".format("red"))

print("\nApples are {},and roses are also {}.".format('red','red'))

My first name is Thisara,last name is Kaushan and I'm 23 years old

Apples are red,and roses are also red.

Apples are red,and roses are also red.

In [14]:
#(iii) Printing strings by their keywords 

fname='Thisara'
lname='Kaushan'
age=23

print("My first name is {fn},last name is {ln} and I'm {a} years old.".format(ln=lname,a=age,fn=fname))

My first name is Thisara,last name is Kaushan and I'm 23 years old.

In [22]:
#(iv) Build a table as follows using appropriate alignment symbols 
#Object |  Type   |Quantity 
#Apples |  Fruit  |6 
# Roses | Flowers |10 
#Chairs |  Wood   |20
# All strings in above table are center aligned and numbers are left aligned.

print("{0:^10}|{1:^10}|{2:^10}".format('Object','Type','Quantity'))
print("{0:^10}|{1:^10}|{2:<10}".format('Apples','Fruit',6))
print("{0:^10}|{1:^10}|{2:<10}".format('Roses','Flowers',10))
print("{0:^10}|{1:^10}|{2:<10}".format('Chairs','Wood',20))

  Object  |   Type   | Quantity
  Apples  |  Fruit   |6
  Roses   | Flowers  |10
  Chairs  |   Wood   |20